.viw-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff
}  

.viw-input {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viw-input-title {
  border: none;  
  width: 500px;
}

.viw-input-area{
  width: 500px;
  height: 200px;
  resize: none;
  border: none;
}
